/**
    Déclaration global a toute l'application
    Cette partie est modifié SEULEMENT APRES avoir communiquer avec les autre membre de l'équipe.
    --------------------------------------------------------------------------------------------
**/

/** Chargement des polices **/
@font-face {
    font-family: 'ValentineCute';
    src: url('../fonts/ValentineCute.eot');
    src: url('../fonts/ValentineCute.eot') format('embedded-opentype'),
        url('../fonts/ValentineCute.woff2') format('woff2'),
        url('../fonts/ValentineCute.woff') format('woff'),
        url('../fonts/ValentineCute.ttf') format('truetype'),
        url('../fonts/ValentineCute.svg#ValentineCute') format('svg');
}


/** Déclaration du box-sizing **/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/** Sémantique permettant un aspect constant sur toute l'application **/

header, footer {
    background-color: black;
    color: white;
}

header {
    display: flex;
    justify-content: end;
    gap: 60px;
    align-items: center;
    padding: 10px;
    height: 55px;
    font-size: 15px;
    font-family: 'ValentineCute';
}

header .suivi {
    display: flex;
    gap: 40px;
}

header .info {
    display: flex;
    gap: 20px;
}

header div:first-child>input {
    width: 200px;
    height: 30px;
}

header div:first-child>label>img {
    width: 40px;
    height: 40px;
}

header .info a img, footer .info-media-footer a img {
    width: 25px;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 90%;
    margin: auto;
    height: 120px;
    position: relative;
    /*/*/
}

nav h1 {
    position: absolute;
    left: 110px;
    width: 30%;
}

nav .logo img {
    width: 100px;
    border: 4px solid goldenrod;
    border-radius: 15px;
}

nav .menu {
    display: flex;
    gap: 45px;
    font-size: 20px;
}

nav .menu a {
    color: white;
    text-decoration: none;
    padding: 5px;
    transition: 0.7s;
    text-transform: uppercase;
    font-weight: bold;
}

nav .menu a:hover {
    color: black;
    background-color: goldenrod;
    border-radius: 5px;
}

nav .menu a.active {
    /* style pour le lien de la page courante */
    background-color: rgba(182, 177, 166, 0.5);
    border-radius: 5px;
}

nav .menu a:visited {
    color: rgb(167, 89, 6);
    /* couleur des liens déjà visités */
}

#checkbx {
    display: none;
}

.mobile {
    position: relative;
    display: none;
}

.mobile span {
    height: 65px;
    width: 65px;
    font-size: 35px;
    text-align: center;
    line-height: 65px;
}

/* main {
    height: calc(100vh - 55px - 120px - 210px);
    min-height: 1000px;
} */

footer .informations {
    display: flex;
    padding: 40px;
    justify-content: space-around;
}

footer .informations h2 {
    margin-bottom: 20px;
}


footer .left {
    width: 45%;
}

footer .center {
    width: 30%;
    text-align: center;
}

footer .right {
    width: 20%;
}

footer .info-media-footer ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

footer .info-media-footer {
    margin-top: 10px;
}

footer .center ul li {
    margin-bottom: 10px;
    font-size: 20px;
    list-style: none;

}

footer .center ul li a {
    color: goldenrod;
    text-decoration: none;
}

footer .center ul li a:hover {
    color: white;
}

footer .right ul li {
    display: flex;
    margin-bottom: 10px;
    gap: 15px;
}

/**
    Déclaration spécifique a chaque page au besoin.
    Chaque personne travaille sur une page à la fois donc il ne devrait jamais y avoir de conflit.

    2 examples: home et contact
    --------------------------------------------------------------------------------------------
**/

/** Les cas spécifiques de la page home **/
body .home {
    background-color: burlywood;
    background: linear-gradient(to bottom, burlywood 0%, rgba(211, 231, 237, 1) 100%);
}

.home .contenu {
    background-color: black;
    color: white;
    min-height: 400px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.home .contenu aside {
    border: 5px solid goldenrod;
    width: 350px;
    min-width: 300px;
    min-height: 410px;
    max-height: 410px;
    padding: 8px;
    overflow: auto;
}

.home .contenu aside::-webkit-scrollbar {
    width: 10px;
}

.home .contenu aside h3 {
    color: burlywood;
}

.home main .carousel {
    width: 800px;
    min-height: 400px;
    margin: auto;
    overflow: hidden;
    border: 5px solid goldenrod;
    margin-left: 5px;
}

@keyframes slide {
    0% {
        left: 0%;
    }

    15% {
        left: 0%;
    }

    20% {
        left: -100%;
    }

    35% {
        left: -100%;
    }

    40% {
        left: -200%;
    }

    55% {
        left: -200%;
    }

    60% {
        left: -300%;
    }

    75% {
        left: -300%;
    }

    80% {
        left: -400%;
    }

    100% {
        left: -400%;
    }
}

.home .carousel #slider-container {
    position: relative;
    width: 500%;
    animation: 10s slide infinite;
}

.home .carousel #slider-container img {
    width: 20%;
    float: left;
    height: 400px;
}

.home .last-aside {
    width: 90%;
    margin: auto;
}

.home aside .element img {
    width: 200px;
    height: 200px;
    border: 4px solid goldenrod;
    border-radius: 15px;
}

.home aside #container {
    font-size: 0.8rem;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.home .last-aside h3, .home .last-aside a {
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
    color: black;
}

.home .last-aside a h4 {
    background-color: goldenrod;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

.home .last-aside a h4:hover {
    box-shadow: 3px 3px #6f7474;
}

.home #container .element {
    width: 200px;
}

.home #container .element p {
    text-align: center;
    font-size: 20px;
}

/** Les cas spécifiques de la page catalogue **/
body .catalogue {
    background-color: burlywood;
    background: linear-gradient(to bottom, burlywood 0%, rgb(240, 174, 108) 100%);
}




.catalogue main form {
    /** Spécifique pour l'intégration du formulaire de catalogue **/
    border: 2px solid black;
}

.catalogue h1 {
    text-align: center;
    margin-top: 20px;
}

.catalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.catalogue .item {
    margin: 20px;
    width: 300px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
    border-radius: 15px;
    border: 2px solid goldenrod;
}

.catalogue .item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.catalogue .item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    border: 4px solid goldenrod;
}

.catalogue .item h2 {
    margin: 10px;
    font-size: 1.5rem;
}

.catalogue .item p {
    margin: 10px;
    font-size: 1rem;
}


/** Les cas spécifiques de la page contact **/
body .contact {
    background-color: burlywood;
    background: linear-gradient(to bottom, burlywood 0%, rgba(211, 231, 237, 1) 100%);
}

.contact main {
    display: flex;
    width: 90%;
    margin: auto;
    gap: 10px;
}

.contact .map iframe {
    width: 400px;
    height: 400px;
}

.contact div .etoile::after {
    color: red;
    content: "*";
}

/* .contact div .contn1 .etoile input:valid {
    border-color: green;
} */

.contact h2 {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}

.contact main form {
    border: 2px solid rgb(133, 114, 114);
    margin: 10px 0 10px 0;
    padding: 20px;
}

.contact main form>div {
    margin: 10px 0 10px 0;

}

.contact form .contn1 input,
.contact form .contn2 input,
.contact textarea,
.contact form .contn4 input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}


body .contact {
    background-color: burlywood;
    background: linear-gradient(to bottom, burlywood 0%, rgba(211, 231, 237, 1) 100%);
}



.contact form .contn3 fieldset div,
.contact form .contn3 .chkbbx {
    display: inline;
}


input[type=submit] {
    width: 100%;
    background-color: #52b155;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #40a145;
}

/**
    Déclaration des media query pour chaque taille.
    --------------------------------------------------------------------------------------------
**/
/* Version Mobile */
@media only screen and (max-width:767px) {
    header {
        display: block;
    }

    header>div {
        float: left;
    }

    header .suivi {
        margin-left: 80px;
        line-height: 30px;
    }

    nav {
        display: block;
    }

    nav .logo {
        display: inline-block;
        margin: 5px 50px;
    }

    nav .menu {
        display: none;
        width: 100%;
        position: relative;
    }

    nav a {
        width: 90%;
        text-align: center;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
    }

    nav .mobile {
        display: block;
        position: absolute;
        top: 70px;
        right: 35px;
        cursor: pointer;
    }

    nav .mobile #times {
        color: yellow;
        display: none;
    }

    #checkbx:checked~nav .menu {
        display: block;
        background-color: rgba(192, 204, 214, 0.5);
    }

    #checkbx:checked~nav .mobile #times {
        display: block;
    }

    #checkbx:checked~nav .mobile #bars {
        display: none;
    }

    footer .left, footer .center, footer .right {
        width: 100%;
        margin-bottom: 20px;
    }

    footer .informations {
        flex-direction: column;
    }

    footer .center {
        text-align: left;
    }

    /* .contact form {

        display: block;
    } */
    nav h1 {
        position: absolute;
        left: 180px;
        top: 10px;
        width: 40%;
    }
}


/*Version tablette */
@media only screen and (max-width:992px) {
    header .suivi {
        display: block;
    }

    header {
        height: 70px;
    }

    /* nav {
        justify-content: flex-start;
    } */
    .home .contenu {
        display: block;
    }

    .home .contenu>aside {
        width: 100%;
        margin: 0;
    }

    .home main .carousel {
        width: 100%;
        margin: 0;
    }

    footer .left, footer .right {
        width: 70%;
    }

    footer .center {
        width: 30%;
    }

    .contact form .flex {
        width: 100%;
        display: flex;
        gap: 5px;
    }

    .contact form .contn3 fieldset div,
    .contact form .contn3 .chkbbx {
        display: block;
    }

    .contact main {
        display: block;
    }

    .contact .map iframe {
        width: 100%;
    }
}